#scroll-container {
    background-color: #004658;
    color: white;
    overflow: hidden;
    height: 40px;
  }
  
  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 20s linear infinite;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 5px;
  }
 
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

@media screen and (max-width: 780px){
  #scroll-text{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 1px;

  }
}