.heading-fabric {
  margin-top: 40px;
}
.heading-fabric h1 {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #b88846;
  text-underline-offset: 12px;
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
  /* text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3); */
}
.fabric-main {
  height: auto;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
}
.fabric-div {
  height: auto;
  width: 200px;
}
.fabric-image {
  height: 200px;
  width: 200px;
  border-radius: 25%;
  border: 25px solid #b88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
    25;
}
.fabric-text {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.fabric-para {
  font-weight: 400;
  width: 80vw;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  margin-bottom: 80px;
}

.womens {
  height: auto;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 20vh auto;

}
.womens img {
  height: 90vh;
  width: 40vw;
  border-radius: 10%;
  cursor: pointer;
}
.figure {
  position: relative;
  width: 360px; /* can be omitted for a regular non-lazy image */
  max-width: 100%;
}
.figure img.Sirv.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.figure:hover img.Sirv.image-hover {
  opacity: 1;
}
.left h1 {
  position: relative;
  top: 30%;
}
.left p {
  position: relative;
  top: 32%;
  text-align: center;
}
.left button {
  position: relative;
  top: 37%;
  background: transparent;
  text-transform: uppercase;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  padding: 0.8rem 2rem;
  cursor: pointer;
  left: 35%;
}
.left button:hover {
  transform: scaleY(120%);
  transition: ease-out 50ms;
}
@media screen and (max-width: 1280px) {
  .fabric-main {
    height: auto;
    width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .fabric-div {
    height: auto;
    width: 170px;
  }
  .fabric-image {
    height: 170px;
    width: 170px;
    border-radius: 100%;
  }
  .womens{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100%;
  }
  .womens img{
    height: 40vh;
    width: 50vw;
  }
}
@media screen and (max-width: 680px) {
  .fabric-main {
    height: auto;
    width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .left h1{
    margin-top: 40px;
  }
  .left button{
    left: 30%;
  }
  .heading-fabric h1 {
    font-size: 28px;
  }
  .fabric-div {
    height: auto;
    width: 120px;
  }
  .fabric-image {
    height: 120px;
    width: 120px;
    border-radius: 100%;
  }
  .fabric-text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  .womens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
  }
  .womens img{
    height: 40vh;
    width: 80vw;
    margin-top: 12vh;
    margin-bottom: 10vh;
  }
}
